@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <section id="about" class="about">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
                <p>
                    XMediHub: Leading Medical Imaging Diagnostic Center
                    The significance of radiology in modern medicine is undeniable. With that in mind, XMediHub is dedicated to offering the most advanced and precise medical imaging services, ensuring that each patient receives comprehensive insights into their health condition.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right">
                    <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left">
                    <h3>
                        Merging Technology with Care
                        
                    </h3>
                    <p class="fst-italic">
                        At XMediHub, we harness the latest in medical imaging technology, such as MRI, CT, and ultrasound, to provide patients with clear, high-resolution images that assist doctors in making accurate diagnoses. What we pride ourselves most on, however, is our team: professional radiologists, technicians, and care staff, all driven by the ethos of serving patients with compassion and comfort.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Non-invasive Diagnostic Tools: Our state-of-the-art medical imaging equipment guarantees a painless, non-invasive experience for you.</li>
                        <li><i class="bi bi-check-circle"></i> Swift and Precise: High-quality images offer doctors essential information in a short time span, aiding in devising the best treatment plans.</li>
                        <li><i class="bi bi-check-circle"></i> Patient-first Service: From appointments to examinations and interpreting results, our team consistently ensures your needs and comfort are prioritized.</li>
                    </ul>
                    <p>
                        Choose XMediHub, Choose a Healthy Future.
                        As a frontrunner in the industry, we recognize the importance of health and the efforts it demands. XMediHub commits to delivering exceptional medical imaging services, ensuring a healthy and promising tomorrow for you and your loved ones.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <section id="counts" class="counts">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="fas fa-user-md"></i>
                        <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="0" class="purecounter">85</span>

                        <p><strong>Doctors</strong> around 85 people had medical image experience</p>
                        <a href="#">Find out more »</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="far fa-hospital"></i>
                        <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="0" class="purecounter">26</span>
                        <p><strong>Departments</strong> around 26 buildings around the whole city</p>
                        <a href="#">Find out more »</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="fas fa-flask"></i>
                        <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="0" class="purecounter">14</span>
                        <p><strong>Research Lab</strong> XMediHub Invest about 14 laboratories to have medical research</p>
                        <a href="#">Find out more »</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="fas fa-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="0" class="purecounter">150</span>
                        <p><strong>Awards</strong> win about 150 prices in the medical area</p>
                        <a href="#">Find out more »</a>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section id="features" class="features">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-right">
                    <div class="icon-box mt-5 mt-lg-0">
                        <i class="bx bx-receipt"></i>
                        <h4>Professional Lawyer teams</h4>
                        <p>XMedihub have a rich resource Lawyer team to protect our research outcome</p>
                    </div>
                    <div class="icon-box mt-5">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Focus on multifaceted development</h4>
                        <p>Exclusive patents and unique insights in biochemical pharmaceuticals</p>
                    </div>
                    <div class="icon-box mt-5">
                        <i class="bx bx-images"></i>
                        <h4>Image Services</h4>
                        <p>We have the most advanced medical imaging technology in the world</p>
                    </div>
                    <div class="icon-box mt-5">
                        <i class="bx bx-shield"></i>
                        <h4>Vaccine protection</h4>
                        <p>We also lead the world in vaccine research and our customers can use our vaccines with confidence.</p>
                    </div>
                </div>
                <div class="image col-lg-6 order-1 order-lg-2 aos-init aos-animate" style="background-image: url(&quot;../assets/img/features.jpg&quot;);" data-aos="zoom-in"></div>
            </div>

        </div>
    </section>
</main>

