@{
    ViewBag.Title = "Home Page";
}

<main>
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item" style="background-image: url(../../assets/img/slide/slide-1.jpg)">
                    <div class="container">
                        <h2>What we do</h2>
                        <p>We can do a plenty of medical image services and around 100 milions of people were serviced.</p>
                        <a href="#about" class="btn-get-started scrollto">Read More</a>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item active" style="background-image: url(../../assets/img/slide/slide-2.jpg)">
                    <div class="container">
                        <h2>Welcome to <span>XMediHub</span></h2>
                        <p>XMediHub would give you a extraordinary experience that you have never experienced.</p>
                        <a href="#about" class="btn-get-started scrollto">Read More</a>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(../../assets/img/slide/slide-3.jpg)">
                    <div class="container">
                        <h2>What we have</h2>
                        <p>We have the most advanced technologies and plenty of latest medical machine for imaging services.</p>
                        <a href="#about" class="btn-get-started scrollto">Read More</a>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section>

    <section id="featured-services" class="featured-services">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-heartbeat"></i></div>
                        <h4 class="title"><a href="">Medical Issue</a></h4>
                        <p class="description">Feel headache? Let us do some X-ray.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="fas fa-pills"></i></div>
                        <h4 class="title"><a href="">Medicine Provided</a></h4>
                        <p class="description">Not only the image services, we do have our own pharmacy!</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="fas fa-thermometer"></i></div>
                        <h4 class="title"><a href="">Fever or High body Temperature</a></h4>
                        <p class="description">For the high body temperature, we do have solutions to figure that out!</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="fas fa-dna"></i></div>
                        <h4 class="title"><a href="">DNA checking</a></h4>
                        <p class="description">Feeling like your children who are not yours? We do provide DNA Checkings!</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>